:root {
  --sideColWidth: 200px;
  --fontColor: #c2c2c2;
  --hoverColor: #ffffff;
  --hoverTransition: all .7s ease;
  --tempBorders: red 1px solid;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Montserrat';
  background-image: linear-gradient(#030517, #161a3d);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
}

#grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 80px 1fr 70px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

header {
  grid-area: 1 / 1 / 2 / 3; 
  border: var(--tempBorders);
  margin-right: 20px;
}

#mainContent {
  color: var(--fontColor);
  text-align: right;
  border: yellow 1px solid;
  margin-right: 15%;
  height: 90%;
}

#mainColumn {
  grid-area: 2 / 2 / 3 / 3;
  border: var(--tempBorders);

  
}






#sideContent {
  transform: rotate(-90deg);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--fontColor);
  color: transparent;
  font-size: 25px;
  top: 150px;
  left: 50px;
  position: relative;
  border: var(--tempBorders);
  text-align: right;
  letter-spacing: 5px;
  width: 200px;
  float: right;
}

#sideColumn {
  grid-area: 2 / 1 / 3 / 2;
  border: var(--tempBorders);
}

.letter {
  display: inline-block;
}



p span {
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 2px;
}

p span:hover {
  color: white;
  font-weight: bold;
}

/* FOOTER  */

footer {
  grid-area: 3 / 1 / 4 / 3;
  border: var(--tempBorders);
  clear: both;
  position: relative;
  width: auto;
  color: var(--fontColor);
  text-align: center;
  padding: 20px 0px 0px 0px;
}

a:link, a:visited, a:active {
  color: var(--fontColor);
  text-decoration: none;
}

svg {
  width: 30px;
  margin: 0 0 0 50;
  border: var(--tempBorders);
}

footer a {
  margin-right: 10px;
}


/* NAVIGATION BAR */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: var(--fontColor);
  font-size: 14px;
  font-weight: bold;
  display: inline;
}

li {
  float: right;
  display: block;
  text-align: center;
  padding: 30px 18px;
  text-decoration: none;
}

li:hover, footer svg:hover, #popUpMenu div:hover {
  color: var(--hoverColor);
  transition: var(--hoverTransition);
  -webkit-transition: var(--hoverTransition);
  cursor: pointer;
  scale: 1.2;
}


/* PAGES */

#welcome {
  border: var(--tempBorders);
  margin: 20% 10% 20% 10%;
  text-align: left;
}

#name {
  font-size: 36px;
  font-family: "Kanit";
  font-weight: bold;
  letter-spacing: 4px;
}

#popUpMenu {
  border: var(--tempBorders);
  grid-area: 2 / 1 / 4 / 3;
  background-color: #030517;
  visibility: hidden;
  z-index: 1;
}


#popUpMenu li {
  float: none;
  display: block;
  text-align: center;
  margin-left: 25%;
  width: 50%;
}



/* menu button */

.dot-menu_checkbox {
  display: none;
}
.dot-menu_label {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  cursor: pointer;
  float: right;
  top: 20%;
}
.dot-menu_label {
  text-indent: -9999em;
}
.dot-menu_label:before, .dot-menu_label:after, .dot-menu_label span:before {
  content: "";
  position: absolute;
  left: 19.5px;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: var(--fontColor);
  transition: 0.4s;
}
.dot-menu_label:before {
  top: 28.5px;
}
.dot-menu_label:after {
  top: 10.5px;
}
.dot-menu_label span:before {
  top: 19.5px;
}
.dot-menu_checkbox:checked ~ .dot-menu_label:before {
  transform: rotate(224deg) translate(14px, -1px);
  transform-origin: center center;
  width: 60%;
}
.dot-menu_checkbox:checked ~ .dot-menu_label:after {
  transform: rotate(136deg) translate(14px, 1px);
  transform-origin: center center;
  width: 60%;
}


/* RESPONSIVENESS */

@media (max-width: 550px) {
  header ul {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
}

@media (min-width: 551px) {
  header .dot-menu_checkbox, header .dot-menu_label {
    display: none;
  }

  #popUpMenu {
    visibility: hidden;
  }
}

@media (min-width: 550px) and (max-width: 1000px) {
  #grid-container {
    grid-template-columns: 16% 1fr;
  }
}

@media (max-width: 550px) {
  #grid-container {
    grid-template-columns: 0 1fr;
  }
}

@media (max-height: 380px) {
  #sideContent {
    display: none;
  }
}

/* 
TODO:
sideContent & sideColumn - obsłużyć wąskie ekrany
<1000 - dynamiczne zawężanie kolumny (16%)
<650 lub <600 - kolumna znika i wskakuje pod header

ogarnąć wymiar w pionie
*/
