<div class="about-text">
    <p>My name is <b>Arkadiusz Gubała</b>. I am a C#/.NET developer from Poland.</p>
    
    <p>I'm a self-driven coder, continually seeking new challenges to fuel my growth. In the past I've worked as a CAD Draftsman (1+ year) and process engineer (4 years). But then I decided to change my career path and learned programming basics.
    With a knack for problem-solving and a hunger for knowledge, I'm eager to contribute my technical and analytical skills to projects, offering valuable solutions to complex challenges.</p>
    
    <p>You can read more about me on my <span><a href="https://www.linkedin.com/in/arekjg/" target="_blank">LinkedIn</a></span> page or check out some stuff I made on ma <span><a href="https://github.com/arekjg" target="_blank">GitHub</a></span>.</p>
</div>

<div class="image">
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" width="180">
</div>
<a class="resume" href="https://drive.google.com/file/d/10lJ6cqWXRjzyApMOqKiHTcMfOx9Yt2ZR/view?usp=sharing" target="_blank">RESUME</a>