.about-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.about-container > * {
    flex: 1 100%;
}

@media all and (min-width: 850px) {
    .about-text {
        flex: 2 0 0;
        order: 1;
    }
    .image {
        flex: 1 0 0;
        order: 2;
    }
}

.about-text p {
    text-align: justify;
    text-justify: inter-word;
}

.image {
    text-align: center;
}