.about-container {
    display: flex;
    flex-flow: row wrap;
}

.about-container > * {
    flex: 1 100%;
}

@media all and (min-width: 600px) {
    .about-text, .image {
        flex: 1 0 0;
    }
}

@media all and (min-width: 800px) {
    .about-text {
        order: 1;
    }
.image {
        order: 2;
    }
.resume {
        order: 3;
    }
}


.about-text {
    text-align: justify;
    text-justify: inter-word;
}

.resume {
    align-self: center;
    border: green 1px solid;
}