:root {
    --card-width: 250px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: var(--card-width);
    height: 310px;
    margin: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
}

.card:hover {
    transition: var(--hoverTransition);
    -webkit-transition: var(--hoverTransition);
    cursor: pointer;
    scale: 1.08;
}

@keyframes changeColor {
    from {
        color: #ccc;
        font-weight: normal;
    }
    to {
        color: #fff;
        font-weight: bold;
    }
}

.card:hover > #det {
    animation: changeColor 0.5s infinite alternate
}

.card h2, .card p {
    text-align: center;
}

#det, #tech {
    margin-left: auto;
    margin-right: auto;
    width: var(--card-width);
    position: absolute;
}

#det {
    font-size: 10px;
    bottom: 0;
}

#tech {
    bottom: 15px;
}

/* expanded card */

#expanded-card {
    border: var(--tempBorders);
    grid-area: 2 / 1 / 4 / 3;
    background-color: #030517;
    visibility: hidden;
    z-index: 1;
    
    opacity: 0;
    transition: cubic-bezier(0, 2.28, 0.95, 0.69) 0.7s;
    -webkit-transition:cubic-bezier(0, 2.28, 0.95, 0.69) 0.7s;
    padding: 30px;
    border: var(--fontColor) 2px solid;
    border-radius: 25px;
    background-color: rgb(10, 10, 10);
    color: var(--fontColor);
}

#expanded-card h1:hover {
    cursor: pointer;
}

#expanded-card h1::after {
    float: right;
    margin-top: -45px;
    margin-right: -18px;
    text-decoration: none;
    font-weight: lighter;
    content: "\00d7";
}

#expanded-card p {
    text-align: justify;
    text-justify: inter-word;
}

#expanded-card h2 {
    text-align: center;
}

#expanded-card img {
    display: block;
    margin: auto;
    max-width: 100%;
}

#expanded-card .link {
    display: block;
    text-align: center;
}