
/* custom scrollbar in main column */
#main-column{
    padding-right: 20px; 
    margin-left: -12px;
    position: sticky;
    top: 0;
    /* height: 100vh; */
    overflow-y: scroll;
    /* width */
}

#main-column::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
#main-column::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 10px;
}
  
/* Handle */
#main-column::-webkit-scrollbar-thumb {
    background: rgb(7, 7, 7); 
    border-radius: 10px;
}
  
/* Handle on hover */
#main-column::-webkit-scrollbar-thumb:hover {
    background: #009eb3; 
}
  
  
/*
https://codepen.io/tholman/pen/DgOpWz
*/