:root {
  --side-colWidth: 200px;
  --fontColor: #c2c2c2;
  --hoverColor: #ffffff;
  --hoverTransition: all .7s ease;
  /* --tempBorders: red 1px solid; */
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Montserrat';
  background-image: linear-gradient(#030517, #161a3d);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
}

#grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 160px 1fr;
  grid-template-rows: 80px 1fr 70px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

header {
  grid-area: 1 / 1 / 2 / 3; 
  border: var(--tempBorders);
  margin-right: 20px;
}

#main-content {
  color: var(--fontColor);
  text-align: left;
  border: var(--tempBorders);
  line-height: 1.6;
}


#main-content.welcome-container {
  margin: 15% 20% 0% 25%;
}
#main-content.about-container {
  margin: 10% 5% 0% 10%;
}
#main-content.projects-container {
  margin: 4% 3% 0% 5%;
}
#main-content.experience-container {
  margin: 15% 7% 0% 6%;
}
@media (min-width: 1000px) {
  #main-content.welcome-container {
    margin: 15% auto 0% auto;
    width: 445px;
  }
  #main-content.about-container {
    margin: 10% auto 0% auto;
    width: 690px;
  }
  #main-content.experience-container {
    margin: 15% auto 0% auto;
    width: 750px;
  }
}


#main-column {
  grid-area: 2 / 2 / 3 / 3;
  border: var(--tempBorders);
}

#side-content {
  transform: rotate(-90deg);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--fontColor);
  color: transparent;
  font-size: 25px;
  top: 40%;
  left: 50px;
  position: relative;
  border: var(--tempBorders);
  text-align: right;
  letter-spacing: 5px;
  width: 200px;
  float: right;
}

#side-column {
  grid-area: 2 / 1 / 3 / 2;
  border: var(--tempBorders);
}

.letter {
  display: inline-block;
}


p .link {
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 2px;
}

p .link:hover {
  color: white;
  font-weight: bold;
}

/* FOOTER  */
footer {
  grid-area: 3 / 1 / 4 / 3;
  border: var(--tempBorders);
  clear: both;
  position: relative;
  width: auto;
  color: var(--fontColor);
  text-align: center;
  padding: 20px 0px 0px 0px;
}

a:link, a:visited, a:active {
  color: var(--fontColor);
  text-decoration: none;
}

svg {
  width: 30px;
  margin: 0 0 0 50;
  border: var(--tempBorders);
}

footer a {
  margin-right: 10px;
}


/* NAVIGATION BAR */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: var(--fontColor);
  font-size: 14px;
  font-weight: bold;
  display: inline;
}

li {
  float: right;
  display: block;
  text-align: center;
  padding: 30px 18px;
  text-decoration: none;
}

.scale-item:hover {
  color: var(--hoverColor);
  transition: var(--hoverTransition);
  -webkit-transition: var(--hoverTransition);
  cursor: pointer;
  scale: 1.2;
}

#name {
  font-size: 36px;
  font-family: "Kanit";
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 1.3;
}

#dropdown-menu {
  border: var(--tempBorders);
  grid-area: 2 / 1 / 4 / 3;
  background-color: #030517;
  visibility: hidden;
  z-index: 1;
}

#dropdown-menu li {
  float: none;
  display: block;
  text-align: center;
  margin-left: 25%;
  width: 50%;
}



/* dot-menu button */

.dot-menu_checkbox {
  display: none;
}
.dot-menu_label {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  cursor: pointer;
  float: right;
  top: 20%;
}
.dot-menu_label {
  text-indent: -9999em;
}
.dot-menu_label:before, .dot-menu_label:after, .dot-menu_label span:before {
  content: "";
  position: absolute;
  left: 19.5px;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: var(--fontColor);
  transition: 0.4s;
}
.dot-menu_label:before {
  top: 28.5px;
}
.dot-menu_label:after {
  top: 10.5px;
}
.dot-menu_label span:before {
  top: 19.5px;
}
.dot-menu_checkbox:checked ~ .dot-menu_label:before {
  transform: rotate(224deg) translate(14px, -1px);
  transform-origin: center center;
  width: 60%;
}
.dot-menu_checkbox:checked ~ .dot-menu_label:after {
  transform: rotate(136deg) translate(14px, 1px);
  transform-origin: center center;
  width: 60%;
}


/* RESPONSIVENESS */

@media (max-width: 550px) {
  header ul {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  #grid-container {
    grid-template-columns: 0 1fr;
  }

  #main-content.welcome-container {
    margin: 15% 5% 20% 8%;
  }
  #main-content.about-container {
    margin: 10% 0% 10% 6%;
  }
}

@media (min-width: 551px) {
  header .dot-menu_checkbox, header .dot-menu_label {
    display: none;
  }

  #dropdown-menu {
    visibility: hidden;
  }
}

@media (min-width: 551px) and (max-width: 1000px) {
  #grid-container {
    grid-template-columns: 16% 1fr;
  }
}

@media (max-height: 380px) {
  #side-content {
    display: none;
  }
}






.resume {
  border: yellow 1px solid;
  /* position: absolute; */
  left: auto;
  width: 70px;
  text-align: center;
}

.welcome-container p {
  text-align: justify;
  text-justify: inter-word;
}

.experience-container {
  text-align: center;
}





/* exp */

.experience-container {
  display: flex;
  flex-direction: row;
}

.exp-list {
  width: 210px;
  height: 100%;
  display: block;
}

.exp-item {
  border-right: var(--fontColor) 1px solid;
  width: 100%;
  float: left;
  text-align: right;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 8px;
  padding-bottom: 10px;
  transition: var(--hoverTransition);
}

.exp-item:hover {
  cursor: pointer;
  background-color: var(--fontColor);
  border-right: var(--fontColor) 1px solid;
  color: black;
  font-weight: bolder;
  transition: var(--hoverTransition);
}

.exp-content {
  width: 100%;
  color: greenyellow;
  height: 100%;
  text-align: left;
  padding-left: 20px;
  margin-top: -10px;
  text-align: justify;
  text-justify: inter-word;
}






/* li {
  float: right;
  display: block;
  text-align: center;
  padding: 30px 18px;
  text-decoration: none;
} */